.dish-overview {
    margin-top: 16px;
    margin-left: 16px;
    height: 450px;
    overflow: hidden;
}

.dish-overview .dish-images {
    float: right;
    width: 50%;
}

.dish-overview .dish-images #ingredient-images {
    position: relative;
    transform: translate(-10%, -10%);
}

.dish-details {
    margin-top: 12px;
    width: 50%;
    float: left;
    height: 450px;
}

.dish-details .dish-name {
    font-size: 24pt;
    font-weight: 500;
}

.dish-details span.pills {
    margin-left: 20%;
}

.pills {
    display: inline;
    border: 2px solid #03A9F4;
    border-radius: 240px;
    padding: 8px;
    transition: all 0.3s;
}

.pills:hover {
    background-color: #03A9F4;
    color: white;
    cursor: pointer;
}

.dish-overview .ingredients-cloud table {
    margin-top: 48px;
}

.dish-overview .ingredients-cloud tr {
    height: 56px;
}

.dish-overview .ingredients-cloud td {
    margin-left: 8px;
    margin-right: 8px;
}

.dish-description {
    margin: 16px;
    margin-top: 50px;
}

.cooking-steps {
    margin: 24px;
    margin-top: 50px;
}