<h1>
    Popular dishes
</h1>
<br>
<div class="popular-dishes-list">
    <table>
        <tr>
            <td *ngFor="let dish of popularDishes">
                <div class="card">
                    <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">{{dish.dishName}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{dish.description | slice:0:50}}... See More</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<br>

<h1>
    {{ categoryOne.categoryName }}
</h1>
<br>
<div class="cat-one-dishes-list">
    <table>
        <tr>
            <td *ngFor="let dish of categoryOneDishes">
                <!-- Use the dish to populate cards -->
            </td>
        </tr>
    </table>
</div>
<br>

<h1>
    {{ categoryTwo.categoryName }}
</h1>
<br>
<div class="cat-two-dishes-list">
    <table>
        <tr>
            <td *ngFor="let dish of categoryTwoDishes">
                <!-- Use the dish to populate cards -->
            </td>
        </tr>
    </table>
</div>

<!-- <h1>{{str | slice:0:4}}... See More</h1> -->