<h3>
    Popular dishes
</h3>
<div class="popular-dishes-list">
    <table class="responsive-table striped">
        <tr>
            <td *ngFor="let dish of popularDishes">
                <div class="card" (click)="showDish(dish)">
                    <div class="card-image">
                        <img [src]="dish.images[imageViewIndex].imageURL" width="200px" height="250px">
                        <span class="card-title">{{dish.dishName}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{dish.description | slice:0:100}}... See More</p>
                    </div>
                    <div class="card-action">
                        <span>Learn More</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<h3>
    {{ categoryOne.categoryName }}
</h3>
<div class="cat-one-dishes-list">
    <table class="responsive-table striped">
        <tr>
            <td *ngFor="let dish of categoryOneDishes">
                <div class="card" (click)="showDish(dish)">
                    <div class="card-image">
                        <img [src]="dish.images[imageViewIndex].imageURL">
                        <span class="card-title">{{dish.dishName}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{dish.description | slice:0:50}}... See More</p>
                    </div>
                    <div class="card-action">
                        <span>Learn More</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<br>

<h3>
    {{ categoryTwo.categoryName }}
</h3>
<div class="cat-two-dishes-list">
    <table class="responsive-table striped">
        <tr>
            <td *ngFor="let dish of categoryTwoDishes">
                <div class="card" (click)="showDish(dish)">
                    <div class="card-image">
                        <img [src]="dish.images[imageViewIndex].imageURL">
                        <span class="card-title">{{dish.dishName}}</span>
                    </div>
                    <div class="card-content">
                        <p>{{dish.description | slice:0:50}}... See More</p>
                    </div>
                    <div class="card-action">
                        <span>Learn More</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- <h1>{{str | slice:0:4}}... See More</h1> -->