.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #202230;
    color: white;
    font-weight: 600;
}

.toolbar .company_tag {
    margin-left: 16px;
    font-size: 18pt;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar .search-bar-input {
    position: absolute;
    left: 25%;
    width: 35%;
    height: 45px;
    background-color: white;
    border-radius: 25px;
    border: none;
    margin-top: -25px;
    font-size: 14pt;
    padding-left: 1%;
    padding-right: 3%;
}

/* doesn't work */
.toolbar .search-bar-input:focus {
    border: 0;
    border: 0.5px solid #3498db;
}

.toolbar .search-bar-icon {
    position: absolute;
    left: 60.5%;
    margin-top: -14px;
    cursor: pointer;
}

.useful-links {
    position: absolute;
    right: 16px;
    width: 200px;
    height: 60px;
}

.useful-links .about-app {
    background-color: transparent;
    width: 50%;
    height: 100%;
    border: none;
    font-weight: 400;
    font-size: 14pt;
    color: white;
    cursor: pointer;
}

.useful-links .about-app:hover {
    background-color: #31354e;
}

.useful-links .sign-in {
    background-color: transparent;
    width: 50%;
    height: 100%;
    border: none;
    font-weight: 400;
    font-size: 14pt;
    color: white;
    cursor: pointer;
}

.useful-links .sign-in:hover {
    background-color: #31354e;
}

.blur {
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

.warning {
    border-left: tomato;
    color: tomato;
}

.box {
    width: 30%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #202230;
    text-align: center;
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 12pt;
    /* font-family: 'Courier New', Courier, monospace; */
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    font-size: 12pt;
    transition: 0.25s;
    cursor: pointer;
    /* font-family: 'Courier New', Courier, monospace; */
}

.box button[type="submit"]:hover {
    background: #2ecc71;
}

.container svg {
    position: absolute;
    left: 62%;
    top: 25%;
    fill: white;
    cursor: pointer;
}